@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


body {
  font-family: 'Roboto', sans-serif;
  margin: 50px;
}

progress {
  background-color: #9b9b9b;
  height: 50px;
  width: 100%;
}

img {
  height: 300px;
}

h1 {
  font-size: 50px;
}

h3 {
  font-size: 35px;
}

p {
  font-size: 20px;
  line-height: 28px;
}

label {
  font-size: 20px;
  font-weight: 900;
  padding-right: 15px;
}

input {
  height: 40px;
  width: 350px;
}

button {
    width: 280px;
    padding: 30px;
    font-weight: 600;
    font-size: 22px;
    cursor: pointer;
}

button:hover {
    color: #f0f8ff;
    background-color: #353333;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 30px;
}

progress {
    opacity: 0.5;
}

.submit-content input, .style-images input, .news-buttons input, .items-checkboxes input{
    width: 50px;
    cursor: pointer;
}

/* Info Form */

.info-text {
  max-width: 500px;
  max-width: 60%;
}

.info-content {
  display: flex;
  justify-content: space-evenly;
}

.info-content div {
  margin-top: 20px;
}

.info-content select {
  height: 40px;
  width: 250px;
  cursor: pointer;
}

.info-content div div:nth-child(1), .info-content div div:nth-child(2), .info-content div div:nth-child(3) {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
  }
 

.profile-description-content {
  margin-top: 100px;
  padding: 0 20px;
  display: flex;
}

.profile-description-content p {
  font-size: 15px;
  max-width: 200px;
  line-height: 20px;
}

.submit-content {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.submit-content div:first-child {
    display: flex;
    align-items: center;
}

/* Contacts Form */

.contacts-content {
    display: flex;
    justify-content: space-evenly;
  }
  
  .contacts-content div {
    margin-top: 20px;
  }

  .contacts-content div div:nth-child(1), .contacts-content div div:nth-child(2), .contacts-content div div:nth-child(3) {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
  }

  .news-buttons {
    display: flex;
    padding-left: 100px;
  }

  .news-buttons div {
    display: flex;
    align-items: center;
    padding-right: 30px;
  }

  .contacts-submit-button {
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
  }

  /* Preferences Form */

  .items-checkboxes {
    display: flex;
    margin: 0 0 30px 100px;
  }

  .items-checkboxes div {
    padding-left: 50px;
  }

  .items-checkboxes div div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .style-images {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  .style-images-content {
    margin-bottom: 50px;
    padding-right: 30px;
  }

  .style-images-content div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  
  .preferences-submit-button {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
  }


  @media screen and (max-width: 1100px) {

    h1 {
      margin-top: 50px;
    }

    /* Info Form */

    .info-content, .contacts-content {
      display: flex;
      flex-direction: column;
      /* align-items: flex-end; */
    }

    /* Contacts Form */

    .news-buttons {
      display: flex;
      flex-direction: column;
    }

    .news-buttons div {
      padding-top: 20px;
    }
    
    /* Preferences Form */

    .items-checkboxes {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
  }

  @media screen and (max-width: 576px) {

    .navbar nav {
      display: flex;
      flex-direction: column;
    }

    h1 {
      font-size: 35px;
    }


    /* Info Form */

    .info-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .info-content div div:nth-child(1), .info-content div div:nth-child(2), .info-content div div:nth-child(3) {
      display: flex;
      align-content: center;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;
    }

    .submit-content {
      display: flex;
      flex-direction: column;
    }

    .submit-content button {
      margin-top: 20px;
    }
  }

  /* Contacts Form */

  .contacts-content div div:nth-child(1), .contacts-content div div:nth-child(2), .contacts-content div div:nth-child(3) {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }

  



  