@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 40px;
}

/* Info Section */

.info {
  margin: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.personal-info ul {
  line-height: 30px;
  font-size: 20px;
  padding: 0 0 30px 0;
}

.personal-info li {
  list-style-type: none;
}

.my-photo {
  height: 400px;
}

.my-photo img {
  border-radius: 50%;
  height: 100%;
  filter: grayscale(100%);
}

.personal-info a {
  text-decoration: none;
  padding: 10px;
}

.personal-info a:hover {
  filter: invert(0.5);
}

/* Experience Section */

.experience-info {
  margin: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.education {
  padding-right: 50px;
}


.education li {
    list-style-type: none;
}

.education li:first-child {
    font-weight: 900;
}

.education ul {
    line-height: 30px;
    padding: 0;
}

.work-experience li {
    list-style-type: none;
}

.work-experience li:first-child {
    font-weight: 900;
}

.work-experience ul {
    line-height: 30px;
    padding: 0;
}

/* Skills Section */

.skills-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
 
.skills-info {
  margin: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.skills-button {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 30px;
  border: none;
  cursor: pointer;
}

.skills-content {
  position: relative;
  display: inline-block;
  margin-top: 50px;
}

.skills-list {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  z-index: 1;
}

.skills-list p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.skills-list p:hover {
  background-color: #f1f1f1;
}

.skills-list span {
  color: #afafaf;
}

.skills-content:hover .skills-list {
  display: block;
}

.skills-content:hover .skills-button {
  background-color: #ffffff;
  color: #000000;
}




